{
  "parser": "typescript-eslint-parser",
  "plugins": ["typescript", "import", "jest"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "amd": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": "error",
    "typescript/rule-name": "none",
    "backface-visibility": "none"
  }
}
