<div class="section-bg-color">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-5 col-sm-6" data-anima="fade-left">
                <h1>Building softwares for optimal works</h1>
                <p>
                    Ratione numquam. Fugiat alias saepe fuga odio sed exauris, minim anim dolores earum!
                    Veniam corporis cupidatat atque nesciunt dicta.
                </p>
                <hr class="space s" />
                <a href="#" class="btn btn-lg">Specifications</a><span class="space"></span>
                <a href="#" class="btn btn-border btn-lg">Buy now</a>
            </div>
            <div class="col-md-7 col-sm-6" data-anima="fade-right">
                <img src="../images/chart.png" alt="" />
            </div>
        </div>
    </div>
</div>


<div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-3 boxed-inverse">
                <div class="title-base text-left">
                    <hr />
                    <h2>Services</h2>
                    <p>Our offert</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed diusto pulvinar consequuntur augue optio, repo eiusmod tempor incididunt utlabore et dolore magna urus expedita fusce cillum, voluptatibus saliqua.
                </p>
                <hr class="space m" />
                <a href="#" class="circle-button btn btn-sm">View all services</a>
            </div>
            <div class="col-md-9 col-sm-12">
                <hr class="space visible-sm" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Web GIS</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expelum, voluptatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">ERP</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuus expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Company Profile</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio,  fusce cillum, voluptatibus  fugrus expedita fusce parloto.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">GPS Tracker</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce tatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Monitoring System</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuga! Purus expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Office Database Application</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio,  fusce cillum, voluptatibus  fugrus expedita fusce parloto.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>

                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Android Application</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce tatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">SPA</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuga! Purus expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Video Animation</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio,  fusce cillum, voluptatibus  fugrus expedita fusce parloto.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-bg-color no-paddings-y">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-8 col-sm-6">
                <hr class="space visible-sm" />
                <div class="title-base text-left">
                    <hr />
                    <h2>Edutech - untuk Sekolah</h2>
                    <p>Our products have been produced</p>
                </div>
                <p>
                    Aplikasi pembantu proses ajar mengajar, penguhung Orang tua dan sekolah. Fitur Absensi Online, Nilai, E-learning, Library, etc. Di targetkan untuk sekolah digital mengikuti perkembangan jaman. Tersedia versi android dan web base
                </p>
                <hr class="space s">
                <div class="grid-list gallery">
                    <div class="grid-box row" data-lightbox-anima="fade-left">
                        <div class="grid-item col-md-3 col-sm-4">
                            <a class="img-box i-center" href="../images/produk_1.png">
                                <i class="fa fa-camera"></i>
                                <img src="../images/produk_1.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item col-md-3 col-sm-4">
                            <a class="img-box i-center" href="../images/produk_2.png">
                                <i class="fa fa-camera"></i>
                                <img src="../images/produk_2.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item col-md-3 col-sm-4">
                            <a class="img-box i-center" href="../images/produk_3.png">
                                <i class="fa fa-camera"></i>
                                <img src="../images/produk_3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="space m">
                <a href="#" class="circle-button btn btn-sm">View details</a><span class="space"></span>
                <a href="#" class="btn-text">Contact us</a>
            </div>
            <div class="col-md-4 col-sm-6 text-right" data-anima="fade-right">
                <hr class="space">
                <img src="../images/produk_4.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="section-empty">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-8 opacity-8">
                <h3>Do you need Professionals to project and build your dream home?</h3>
                <p class="no-margins">We offer the best engineers and builders to make your dreams come true.</p>
            </div>
            <div class="col-md-2">
                <a href="#" class="btn-border btn btn-lg nav-justified">Contact us</a>
            </div>
            <div class="col-md-2">
                <a href="#" class="btn btn-lg nav-justified">Get quotation</a>
            </div>
        </div>
    </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>