<div class="section-bg-color">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-5 col-sm-6" data-anima="fade-left">
                <h1>Let Technology Help You.</h1>
                <p>
                    Have an idea for your business? define it to us and we will make it for you. Aspire to build a solution for our client’s needs.
                </p>
                <hr class="space s" />
                <a href="#" class="btn btn-lg">Our Services</a><span class="space"></span>
                <a href="#" class="btn btn-border btn-lg">Contact Us</a>
            </div>
            <div class="col-md-7 col-sm-6" data-anima="fade-right">
                <img src="../images/chart.png" alt="" />
            </div>
        </div>
    </div>
</div>


<div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-3 boxed-inverse">
                <div class="title-base text-left">
                    <hr />
                    <h2>Services</h2>
                    <p>Our offer</p>
                </div>
                <p>
                    We are IT consultant for everyone, Aspire to build a solution for our client’s needs. We cover everything from the basic company profile project to the spesific Shuttle monitoring system using GIS. 
                </p>
                <hr class="space m" />
                <a href="#" class="circle-button btn btn-sm">View all services</a>
            </div>
            <div class="col-md-9 col-sm-12">
                <hr class="space visible-sm" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Web GIS</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expelum,
                            voluptatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">ERP</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuus
                            expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Company Profile</h4>
                        <p>
                            Share your business ideas with the world. get the trust of your prospective customers with attractive company sites.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">GPS Tracker</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce
                            tatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Monitoring System</h4>
                        <p>
                            Make your business more successful by monitoring the latest information in real time from your sales
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Office Database Application</h4>
                        <p>
                            There is no longer the need to send documents via mail and fax, everything is stored centrally and can be accessed anywhere
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>

                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Mobile Application</h4>
                        <p>
                            Reach customers by getting closer to them via mobile applications
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">SPA</h4>
                        <p>
                            Making the application more responsive and fast, there are no more customers who are annoyed because it's slow
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Video Animation</h4>
                        <p>
                            Make your customers more interested in your business through very interesting advertisements
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-bg-color no-paddings-y">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-8 col-sm-6">
                <hr class="space visible-sm" />
                <div class="title-base text-left">
                    <hr />
                    <h2>Edutech - untuk Sekolah</h2>
                    <p>Our products have been produced</p>
                </div>
                <p>
                    Aplikasi pembantu proses ajar mengajar, penguhung Orang tua dan sekolah. Fitur Absensi Online, Nilai, E-learning, Library, etc. Di targetkan untuk sekolah digital mengikuti perkembangan jaman. Tersedia versi android dan web base
                </p>
                <hr class="space s">
                <div class="grid-list gallery">
                    <div class="grid-box row" data-lightbox-anima="fade-left">
                        <div class="grid-item col-md-3 col-sm-4">
                            <a class="img-box i-center" href="../images/produk_1.png">
                                <i class="fa fa-camera"></i>
                                <img src="../images/produk_1.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item col-md-3 col-sm-4">
                            <a class="img-box i-center" href="../images/produk_2.png">
                                <i class="fa fa-camera"></i>
                                <img src="../images/produk_2.png" alt="">
                            </a>
                        </div>
                        <div class="grid-item col-md-3 col-sm-4">
                            <a class="img-box i-center" href="../images/produk_3.png">
                                <i class="fa fa-camera"></i>
                                <img src="../images/produk_3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="space m">
                <a href="#" class="circle-button btn btn-sm">View details</a><span class="space"></span>
                <a href="#" class="btn-text">Contact us</a>
            </div>
            <div class="col-md-4 col-sm-6 text-right" data-anima="fade-right">
                <hr class="space">
                <img src="../images/produk_4.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="section-empty">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-8 opacity-8">
                <h3>Do you need Professionals to project and build your dream apps?</h3>
                <p class="no-margins">We offer the best engineers to make your dreams come true.</p>
            </div>
            <div class="col-md-2">
                <a href="#" class="btn-border btn btn-lg nav-justified">Contact us</a>
            </div>
            <div class="col-md-2">
                <a href="#" class="btn btn-lg nav-justified">Get quotation</a>
            </div>
        </div>
    </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>