<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Services three</h1>
                    <p>Services and skills of the Yellow Business and business company.</p>
                </div>
            </div>
            <div class="col-md-3">
                <ol class="breadcrumb b white">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-3 boxed-inverse">
                <div class="title-base text-left">
                    <hr />
                    <h2>Services</h2>
                    <p>Our offert</p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed diusto pulvinar consequuntur augue optio, repo eiusmod tempor incididunt utlabore et dolore magna urus expedita fusce cillum, voluptatibus saliqua.
                </p>
                <hr class="space m" />
                <a href="#" class="circle-button btn btn-sm">View all services</a>
            </div>
            <div class="col-md-9 col-sm-12">
                <hr class="space visible-sm" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Web GIS</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expelum, voluptatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">ERP</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuus expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Company Profile</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio,  fusce cillum, voluptatibus  fugrus expedita fusce parloto.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">GPS Tracker</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce tatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Monitoring System</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuga! Purus expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Office Database Application</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio,  fusce cillum, voluptatibus  fugrus expedita fusce parloto.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>

                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Android Application</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce tatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">SPA</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuga! Purus expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Video Animation</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio,  fusce cillum, voluptatibus  fugrus expedita fusce parloto.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-empty section-item">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-5 boxed-inverse boxed-inverse shadow-2">
                <ul class="fa-ul ul-squares">
                    <li>Building or infrastructure</li>
                    <li>Mass civil or heavy engineering</li>
                    <li>Construction manager</li>
                    <li>Design engineer and government approval</li>
                    <li>Construction projects </li>
                    <li>Construction delays and bidding</li>
                    <li>Financial advisors</li>
                    <li>Standard Industrial Classification</li>
                    <li>New construction techniques</li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="title-base text-left">
                    <hr />
                    <h2>Interior design</h2>
                    <p>Super solutions</p>
                </div>
                <div class="flexslider carousel white nav-inner visible-dir-nav" data-options="minWidth:200,itemMargin:3,numItems:3,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-7.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-13.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-8.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-6.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="space s" />
                <p class="no-margins">
                    Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                </p>
            </div>
        </div>
        <hr class="space" />
        <div class="row vertical-row">
            <div class="col-md-5 boxed-inverse boxed-inverse shadow-2">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="fa-ul ul-squares">
                            <li>Building</li>
                            <li>Mass civil</li>
                            <li>Project manager</li>
                            <li>Construction tips</li>
                            <li>Design engineer</li>
                            <li>Construction projects </li>
                            <li>Construction bidding</li>
                            <li>Financial advisors</li>
                            <li>Standard Industrial</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="fa-ul ul-squares">
                            <li>Infrastructure</li>
                            <li>Geavy engineering</li>
                            <li>Manager</li>
                            <li>Government approval</li>
                            <li>Advanced solutions</li>
                            <li>Bidding works</li>
                            <li>Legal advisors</li>
                            <li>Top classification</li>
                            <li>New techniques</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <div class="title-base text-left">
                    <hr />
                    <h2>Renovation and buildings</h2>
                    <p>Cheap prices</p>
                </div>
                <div class="flexslider carousel white nav-inner visible-dir-nav" data-options="minWidth:200,itemMargin:3,numItems:3,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-12.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-6.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-2.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-1.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="space s" />
                <p class="">
                    Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia Curae.
                </p>
                <a href="#" class="btn-text">More informations</a>
            </div>
        </div>
        <hr class="space" />
        <div class="row vertical-row">
            <div class="col-md-5 boxed-inverse boxed-inverse shadow-2">
                <ul class="fa-ul ul-squares">
                    <li>Building or infrastructure</li>
                    <li>Mass civil or heavy engineering</li>
                    <li>Construction manager</li>
                    <li>Design engineer and government approval</li>
                    <li>Construction projects </li>
                    <li>Construction delays and bidding</li>
                    <li>Financial advisors</li>
                    <li>Standard Industrial Classification</li>
                    <li>New construction techniques</li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="title-base text-left">
                    <hr />
                    <h2>Outdoor and gardening</h2>
                    <p>Green technologies</p>
                </div>
                <div class="flexslider carousel white nav-inner visible-dir-nav" data-options="minWidth:200,itemMargin:3,numItems:3,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-5.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-4.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-3.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-1.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="space s" />
                <p class="no-margins">
                    Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                </p>
            </div>
        </div>
    </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
