<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Our Services</h1>
                    <p>Services and skills that we can offer to you.</p>
                </div>
            </div>
            <div class="col-md-3">
                <ol class="breadcrumb b white">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-3 boxed-inverse">
                <div class="title-base text-left">
                    <hr />
                    <h2>Services</h2>
                    <p>Our offer</p>
                </div>
                <p>
                    We are IT consultant for everyone, Aspire to build a solution for our client’s needs. We cover
                    everything from the basic company profile project to the spesific Shuttle monitoring system using
                    GIS.
                </p>
                <hr class="space m" />
                <a href="#" class="circle-button btn btn-sm">View all services</a>
            </div>
            <div class="col-md-9 col-sm-12">
                <hr class="space visible-sm" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Web GIS</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expelum,
                            voluptatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">ERP</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fusce cillum, voluptatibus repellat fuus
                            expedita fusce.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Company Profile</h4>
                        <p>
                            Share your business ideas with the world. get the trust of your prospective customers with attractive company sites.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">GPS Tracker</h4>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce
                            tatibus sapiente.
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Monitoring System</h4>
                        <p>
                            Make your business more successful by monitoring the latest information in real time from your sales
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Office Database Application</h4>
                        <p>
                            There is no longer the need to send documents via mail and fax, everything is stored centrally and can be accessed anywhere
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>

                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="text-normal">Mobile Application</h4>
                        <p>
                            Reach customers by getting closer to them via mobile applications
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">SPA</h4>
                        <p>
                            Making the application more responsive and fast, there are no more customers who are annoyed because it's slow
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h4 class="text-normal">Video Animation</h4>
                        <p>
                            Make your customers more interested in your business through very interesting advertisements
                        </p>
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-empty section-item">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-5 boxed-inverse boxed-inverse shadow-2">
                <ul class="fa-ul ul-squares">
                    <li>Employee Recruitment</li>
                    <li>Absence Management</li>
                    <li>Self-Service</li>
                    <li>Perfomance Monitoring </li>
                    <li>Leave Request</li>
                    <li>Payroll Factors</li>
                    <li>Warehouse</li>
                    <li>Point Of Sales</li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="title-base text-left">
                    <hr />
                    <h2>Business Operation</h2>
                    <p>Work with efficiency</p>
                </div>
                <div class="flexslider carousel white nav-inner visible-dir-nav" data-options="minWidth:200,itemMargin:3,numItems:3,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-7.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-13.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-8.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-6.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="space s" />
                <p class="no-margins">
                    Helping operational teams to work faster and more efficiently. monitoring work on business in realtime, there are no more bureaucratic problems that slow down the work process. all processes will run according to the workflow that has been defined in the beginning so that it remains focused on increasing revenue.
                </p>
            </div>
        </div>
        <hr class="space" />
        <div class="row vertical-row">
            <div class="col-md-5 boxed-inverse boxed-inverse shadow-2">
                <ul class="fa-ul ul-squares">
                    <li>Dashboard System</li>
                    <li>Geographic Information System</li>
                    <li>Realtime Notification</li>
                    <li>Blast E-Mail</li>
                    <li>Billing Integration</li>
                    <li>Payment Gateway</li>
                    <li>Online Access</li>
                    <li>Blast E-Mail</li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="title-base text-left">
                    <hr />
                    <h2>Smart with latest technology</h2>
                    <p>Lead the innovation</p>
                </div>
                <div class="flexslider carousel white nav-inner visible-dir-nav" data-options="minWidth:200,itemMargin:3,numItems:3,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-12.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-6.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-2.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-1.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="space s" />
                <p class="">
                    a smart team always uses the right tools to be the leader. using the latest technology makes your customers more loyal to your business. smart leaders know what their customers need and can make them happy.
                </p>
                <a href="#" class="btn-text">More informations</a>
            </div>
        </div>
        <hr class="space" />
        <div class="row vertical-row">
            <div class="col-md-5 boxed-inverse boxed-inverse shadow-2">
                <ul class="fa-ul ul-squares">
                    <li>Digital Cooking Book</li>
                    <li>E-learning</li>
                    <li>Crownfunding System</li>
                    <li>Shuttle Bus Tracking</li>
                    <li>Train Schedule Information</li>
                    <li>Promo and Discount Information</li>
                    <li>Community forum</li>
                    <li>Media Social</li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="title-base text-left">
                    <hr />
                    <h2>Solution for everyone</h2>
                    <p>Cover all the bases</p>
                </div>
                <div class="flexslider carousel white nav-inner visible-dir-nav" data-options="minWidth:200,itemMargin:3,numItems:3,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-5.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-4.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-3.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox" href="../images/gallery/image-11.jpg" data-lightbox-anima="fade-top">
                                <img src="../images/gallery/image-1.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="space s" />
                <p class="no-margins">
                    Technology is no longer the need of large companies, even technology can be the answer to the needs of the community's problems, as a source of information on how to cook or as a medium for children's learning. technology has become part of the future way of life
                </p>
            </div>
        </div>
    </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>