<footer class="footer-base">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-center text-left">
          <img width="120" src="assets/images/logo.png" alt="" />
          <hr class="space m" />
          <p class="text-s">Devetek - Di depan komputer masing masing</p>
          <div class="tag-row text-s">
            <span>arivin29@devetek.com</span><span>+02 3205550678</span> <br>
            <span>fahmi@devetek.com</span><span>+02 3205550678</span> <br>
            <span>prakasa@devetek.com</span><span>+02 3205550678</span>
          </div>
          <hr class="space m" />
          <div class="btn-group social-group btn-group-icons">
            <a target="_blank" href="#" data-social="share-facebook">
              <i class="fa fa-facebook text-xs circle"></i>
            </a>
            <a target="_blank" href="#" data-social="share-twitter">
              <i class="fa fa-twitter text-xs circle"></i>
            </a>
            <a target="_blank" href="#" data-social="share-google">
              <i class="fa fa-google-plus text-xs circle"></i>
            </a>
            <a target="_blank" href="#" data-social="share-linkedin">
              <i class="fa fa-linkedin text-xs circle"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4 footer-left text-left">

        </div>
        <div class="col-md-4 footer-left text-left">
          <h3>About me</h3>
          <p class="text-s">
            Bukan badan usaha, hanya sekumpulan orang orang stres yang suka mengikuti perkembangan teknologi. dan
            menciptakan sesuatu yang bermanfaat dan memiliki nilai
            Utenim ad minim veniam quis nostrud exercitation ullamco lorem ipsum dolor sit ametullamco lorem ipsum
            dolor sit ametullamco lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmo.
          </p>
          <hr class="space xs" />
          <img src="assets/images/cards-icon.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row copy-row">
      <div class="col-md-12 copy-text">
        © 2018 Yellow Business - Multipurpose & Construction Template Handmade by <a href="http://schiocco.io/">schiocco.io</a>
      </div>
    </div>
  </div>

</footer>